<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jigubangbang.chat_service.mapper.ChatMapper">

    <resultMap id="chatRoomResultMap" type="com.jigubangbang.chat_service.model.ChatRoomDto">
      <id property="id" column="id"/>
      <result property="groupType" column="group_type"/>
      <result property="groupId" column="group_id"/>
      <result property="description" column="description"/>
   </resultMap>

   <resultMap id="chatGroupResultMap" type="com.jigubangbang.chat_service.model.ChatGroupDto">
      <id property="id" column="id"/>
      <result property="groupType" column="group_type"/>
      <result property="groupId" column="group_id"/>
      <result property="userId" column="user_id"/>
      <result property="joinedAt" column="joined_at"/>
      <result property="isCreator" column="is_creator"/>
   </resultMap>

   <select id="getChatRoomInfo" parameterType="java.lang.Long" resultMap="chatRoomResultMap">
      SELECT id, group_type, group_id, description
      FROM chat_room
      WHERE id = #{chatId}
  </select>

  <select id="getChatGroupMember" resultMap="chatGroupResultMap">
      SELECT id, group_type, group_id, user_id, joined_at, is_creator
      FROM group_user
      WHERE id = #{chatId} AND user_id = #{userId}
  </select>

  <select id="getChatGroupMembers" resultMap="chatGroupResultMap">
      SELECT gu.id, gu.group_type, gu.group_id, gu.user_id, gu.joined_at, gu.is_creator
      FROM chat_room cr
      JOIN group_user gu ON cr.group_type = gu.group_type AND cr.group_id = gu.group_id
      WHERE cr.id = #{chatId}
  </select>

  <insert id="insertGroupMember" parameterType="com.jigubangbang.chat_service.model.ChatGroupDto" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO group_user (group_type, group_id, user_id, is_creator)
      VALUES (#{groupType}, #{groupId}, #{userId}, #{isCreator})
  </insert>

  <delete id="removeGroupMemberByCreator"> 
      DELETE FROM group_user 
      WHERE id= #{chatId} AND user_id = #{userId}
  </delete>

  <delete id="leaveGroupMemberByUser"> 
      DELETE FROM group_user 
      WHERE id= #{chatId} AND user_id = #{userId}
  </delete>

</mapper>